#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
  display: flex;
}

.formSections {
  display: flex;
}

.cardForm {
  border: 3px;
  border-style: solid;
  border-color: rgb(165, 165, 165);
  border-radius: 25px;
  padding: 10px;
}